*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.background{
    width: 100%;
    height: 100vh;
    display: flex;
}
.sec1{
    width: 70%;
    background-color: blueviolet;
}
.sec2{
    background-color: white;
}
.login{
    position: fixed;
    margin:130px 0px 0px 900px;
    background-color: yellow;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    
}
table{
    margin-top: 40px;
}
table td{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom:10px;
}

#btns{
    margin-top: 20px;
    width: 100px;
    background-color: blueviolet;
    color:white;
    border:none;
    border-radius: 5px;
    height: 30px;
}
.login h3{
    color:blueviolet;
    margin-top: 60px;
}
.input{
    width: 250px;
    height: 40px;
    border:none;
    border-radius: 5px;
    padding-left: 20px;
}
